.cadence
src/cpp_part
rapport
.idea
__pycache__
Notes
Notes_preproc_modeling
data/Notes_data
data/__pycache__
src/ml_part/libs/isolation_forest.py
src/ml_part/libs/lgbm.py
src/ml_part/libs/svm_sgd.py
